/* .tbl_ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tbl_st_col {width:100%;border:1px solid #e8e8e8;table-layout:fixed}
.tbl_st_col th,
.tbl_st_col td {height:49px;padding:6px 10px;border-bottom:1px solid #e8e8e8;font-size:12px;color:#474747;line-height:18px;text-align:center}
.tbl_st_col th {position:relative;padding:8px 0;background:#f2f2f2;font-weight:700;line-height:16px}
.tbl_st_col th:before {display:block;position:absolute;bottom:0;left:0;width:1px;height:24px;background:#e8e8e8;content:''}
.tbl_st_col th:first-child:before {display:none}
.tbl_st_col.bd_line th,
.tbl_st_col.bd_line td {border-left:1px solid #e8e8e8}
.tbl_st_col.bd_line th:first-child,
.tbl_st_col.bd_line td:first-child {border-left:0}
.tbl_st_col.bd_line th:before {display:none}
.tbl_st_col th.tbl_scroll_spc:before {display:none}
.tbl_st_col th.tbl_scroll_spc {padding:0}
.tbl_inp_error td { border-top: 2px solid #fff;height: 0; padding-top: 0; }
.tbl_info {position:relative;margin:0 0 5px}
.search_area+.tbl_info {margin-top:24px}
table+.tbl_info {margin-top:30px}
table .total,
.tbl_info .total {display:inline-block;position:relative;padding:0 0 0 18px;font-size:12px;font-weight:300;color:#474747}
table .total:first-child,
.tbl_info .total:first-child {padding-left:0}
table .total:before,
.tbl_info .total:before {position:absolute;top:50%;left:7px;display:block;width:1px;height:10px;margin-top:-5px;padding:0;background:#474747;content:''}
table .total:first-child:before,
.tbl_info .total:first-of-type:before,
.tbl_info .total:first-child:before {display:none}
.tbl_info .total em {color:#ff734f}
.total{display:inline-block;position:relative;font-size:12px;font-weight:300;color:#474747}
.total:before{content:'/';display:inline;padding:0 4px 0 2px;}
.total:first-child{padding-left:0;}
.total:first-child:before{display:none;}
.tbl_st_row {width:100%;border:1px solid #e8e8e8;table-layout:fixed}
.tbl_st_row th,
.tbl_st_row td {height:49px;padding:6px 10px;border-bottom:1px solid #e8e8e8;font-size:12px;color:#474747;text-align:left}
.tbl_st_row th {padding:15px 10px;border-right:1px solid #e8e8e8;border-left:1px solid #e8e8e8;background:#f2f2f2;font-weight:700}
.tbl_st_row th:first-child {border-left:0}
.tbl_st_col .no_data,
.tbl_st_row .no_data {padding:66px 0;background:#f7f7f7;text-align:center}
.tbl_hover tr:hover td {background:#fffaf5;cursor:pointer}
.required {display:inline-block;overflow:hidden;width:6px;height:6px;margin:0 0 11px 4px;background:#e0402a;text-indent:-99999px;vertical-align:top;border-radius:50%;content:''}
.txt_ellipsis {overflow:hidden;display:inline-block;max-width:100%;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.txt_ovh {max-height:36px;overflow:hidden}
.txt_st_file {position:relative;padding-left:18px}
.txt_st_file .icon_file {position:absolute;top:50%;left:0;margin-top:-5px}
table .sub_tit {background:#f7f7f7}
table td.inactive {background:#f2f2f2}
table td.check {background:#fff1ee}
table .btn_comm.btn_sm {min-width:90px}
.tbl_scr_wrap{padding-right:17px;background-color:#f2f2f2;border:1px solid #e8e8e8;}
.tbl_scr_wrap .tbl_st_col{border:0;}
.tbl_scr_wrap .tbl_st_col th{border-bottom:0;}
table .td_scroll {position:relative;height:auto;padding:0}
.td_scroll .scroll_y_wrap {overflow-y:scroll;max-height:174px;border:1px solid #e8e8e8;border-top:0;}
.td_scroll .scroll_y_wrap table {border:0}
.td_scroll .scroll_y_wrap table tr:last-child td {border-bottom:0}
.td_scroll .scroll_y_wrap .tooltip {display:block;position:absolute;bottom:10px;left:50%;width:170px;height:30px;margin-left:-85px;border:1px solid #ff734f;background:#fff;color:#ff734f;line-height:28px;border-radius:4px;box-shadow:6px 6px 10px #00000029;text-align:center;}
.td_scroll .scroll_y_wrap .tooltip:before,
.td_scroll .scroll_y_wrap .tooltip:after {display:block;position:absolute;top:100%;left:50%;width:0;height:0;content:''}
.td_scroll .scroll_y_wrap .tooltip:before {z-index:1;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:8px solid #ff734f}
.td_scroll .scroll_y_wrap .tooltip:after {z-index:2;margin-left:-4px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:6px solid #fff}
.scroll_wrap {position:relative;height:auto;padding:0}
.scroll_y_wrap {overflow-y:scroll;max-height:174px;border:1px solid #e8e8e8;border-top:0;}
.scroll_y_wrap table {border:0}
.scroll_y_wrap table tr:last-child td {border-bottom:0}
.scroll_y_wrap .tooltip {display:block;position:absolute;bottom:10px;left:50%;width:170px;height:30px;margin-left:-85px;border:1px solid #ff734f;background:#fff;color:#ff734f;line-height:28px;border-radius:4px;box-shadow:6px 6px 10px #00000029;text-align:center;}
.scroll_y_wrap .tooltip:before,
.scroll_y_wrap .tooltip:after {display:block;position:absolute;top:100%;left:50%;width:0;height:0;content:''}
.scroll_y_wrap .tooltip:before {z-index:1;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:8px solid #ff734f}
.scroll_y_wrap .tooltip:after {z-index:2;margin-left:-4px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:6px solid #fff}
.tbl_st_col.class th {background:#fff;font-weight:400}
.tbl_st_col.class tr:first-child th {background:#f2f2f2}
.tbl_st_col.class td {height:89px;line-height:16px}
.tbl_st_col.class tr:nth-child(2) th,
.tbl_st_col.class tr:nth-child(2) td {height:39px}
.tbl_st_col.class .txt_name {display:block;margin-top:5px;font-size:11px;line-height:16px}
table th.tit_stats {position:relative;padding-bottom:33px}
table th.tit_stats .stats_nav {position:absolute;right:0;bottom:5px;left:0;text-align:center}
table th.tit_stats .stats_nav .icon {margin-left:2px}
table th.tit_stats .stats_nav .icon:first-child {margin-left:0}
.guide_txt {display:inline-block;vertical-align:middle}
.guide_txt.sender {width:calc(67.2% - 233px);margin-left:7px}
.toggle_wrap tr.show{display:table-row !important;}
.toggle_wrap td{position:relative;}

.tbl_sc_wrap{overflow:hidden;}
.tbl_sc_wrap .left{float:left; padding-bottom:15px;background:#f2f2f2;}
.tbl_sc_wrap .left .row2{height:107px;}
.tbl_sc_wrap .left .row3{height:156px;}
.tbl_sc_wrap .scroll_left{overflow-y:scroll;max-height:calc(100vh - 467px);}
.tbl_sc_wrap .right{float:left;}
.tbl_sc_wrap .right .inner{padding-right:17px;background:#f2f2f2;}
.tbl_sc_wrap .tbl_section.scroll_x_wrap{overflow-x:scroll;}
.tbl_sc_wrap .tbl_section.scroll_wrap{overflow:scroll;position:relative;top:-17px;z-index:100;background:#fff;}
.tbl_sc_wrap .scroll_con{max-height:calc(100vh - 450px);}

.no_sch_data {padding:150px 0 205px;text-align:center}
.no_sch_data .txt {margin-top:15px;line-height:18px}

.tbl_full_btn .btn_comm { display: block; width: 100%; overflow: hidden; } */

.tooltip {
    display: block !important;
    z-index: 10000;
  }
  
  .tooltip .tooltip-inner {
    background: #b3b3b3;
    color: #FFF;
    border-radius: 6px;
    padding: 5px 10px 4px;
  }
  
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #b3b3b3;
    z-index: 1;
  }
  
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  
  .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="right"] {
    margin-left: 5px;
  }
  
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
  }
  
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
  }
  
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  

/* * {
    box-sizing: border-box
}

.pvtUi {
    width: 100%;
    color: #2a3f5f;
    font-family: Verdana;
    border-collapse: collapse;
} 
.pvtUi select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtUi td.pvtOutput {
    padding: 6px;
    vertical-align: top;
    border: 1px solid #a2b1c6;
}

table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
    font-family: Verdana;
}

table.pvtTable thead tr th,
table.pvtTable tbody tr th {
    background-color: #ebf0f8;
    border: 1px solid #c8d4e3;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable tbody tr td {
    color: #2a3f5f;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #c8d4e3;
    vertical-align: top;
    text-align: right;
}

.pvtTotal,
.pvtGrandTotal {
    font-weight: bold;
}

.pvtRowOrder,
.pvtColOrder {
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block;
    user-select: none;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtAxisContainer,
.pvtVals {
    border: 1px solid #a2b1c6;
    background: #fff;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtVals.pvtText {
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    user-select: none;
    padding-left: 16px;
    text-align: start;
}

.pvtRenderers {
    border: 1px solid #a2b1c6;
    user-select: none;
}

.pvtDropdown {
    border: 1px solid #a2b1c6;
    align-items: center;
    display: block;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    padding: 0px 0px 0px 3px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    line-height: 1 !important;
    margin: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtRenderers .pvtDropdown {
    padding: 0px 0px 0px 12px;
    border: none;
    width: 100%;
    margin: 0px;
}

.pvtDropdown:last-child {
    margin-bottom: 0px;
}

.pvtVals {
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 12px;
}

.pvtRows {
    height: 35px;
}

.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor: move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #a2b1c6;
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
    display: none;
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    background: #f3f6fa;
    border: 2px dashed #c8d4e3;
    padding: 4px 7px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtAxisContainer li span.pvtAttr.sortonly {
    border: 1px solid #c8d4e3;
}
.pvtAxisContainer li span.pvtAttr.disabled {
    border: 1px solid #c8d4e3;
    color: #c5c5c5;
    cursor: not-allowed;
}
.pvtTriangle {
    cursor: pointer;
    color: #506784;
}

.pvtHorizList li {
    display: inline-block;
}
.pvtVertList {
    vertical-align: top;
}

.pvtFilteredAttribute {
    font-style: italic;
}

.sortable-chosen .pvtFilterBox {
    display: none !important;
}

.pvtFilterTextClear {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none !important;
}

/* .pvtDragHandle {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    cursor: move;
    color: #a2b1c6;
} */

/* .pvtButton {
    display: inline-block;
    color: #506784;
    border-radius: 5px;
    padding: 3px 6px;
    background: #fff;
    border: 1px solid;
    border-color: #c8d4e3;
    font-size: 14px;
    margin: 3px 3px 6px 0px;
    transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none !important;
}

.pvtButton:hover {
    background: #e2e8f0;
    border-color: #a2b1c6;
}

.pvtButton:active {
    background: #d1dae6;
}

.pvtFilterBox input {
    border: 1px solid #c8d4e3;
    border-radius: 5px;
    color: #506784;
    padding: 0 3px;
    font-size: 14px;
}

.pvtFilterBox input:focus {
    border-color: #119dff;
    outline: none;
}

.pvtFilterBox {
    z-index: 100;
    border: 1px solid #506784;
    max-width: 600px;
    min-width: 210px;
    background-color: #fff;
    position: absolute;
    padding: 6px;
    user-select: none;
    min-height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtFilterBox input[type='text'] {
    display: block;
    width: 100%;
    color: #2a3f5f;
    margin-bottom: 5px;
    padding: 6px;
    /* border-radius: 4px; */
/* }

.pvtFilterBox {
    padding: 3px;
}

.pvtCheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 30vh;
    border-top: 1px solid #dfe8f3;
}

.pvtCheckContainer p {
    margin: 0;
    margin-bottom: 1px;
    padding: 3px;
    cursor: default;
}

.pvtCheckContainer p.selected {
    background: #ebf0f8;
    min-width: 100%;
    width: max-content;
}

.pvtOnly {
    display: none;
    width: 35px;
    float: right;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.pvtOnlySpacer {
    display: block;
    width: 35px;
    float: right;
}

.pvtCheckContainer p:hover .pvtOnly {
    display: block;
}
.pvtCheckContainer p:hover .pvtOnlySpacer {
    display: none;
}

.pvtRendererArea {
    padding: 5px;
} */